### Database 

        Used to store data 
        
        Benefits of database incomparison of files
        
            1. Orgranised form 
            2. Redundancy (repetition)
            3. Parallel access
            4. Searching (query)
            5. Represents complex relationship among data.
            6. provides backup
            7. Security
            8. Time Saving
            9. Memory Save (files)
            
          ACID
          
              A --> Atomic
              C --> Consistency
              I --> Isolation
              D --> Durability
              
              A --> Either it will be completed or it will be not
              C --> Data is consistent
              I --> Independent transaction
              D --> Durable 
              
              
        SQL
            Structured Query Language 
                Structured --> Format (table)
                Query --> We can write queries to get particular output
                Language --> Syntax and rules
                
             Ex
                 MySQL
                 Oracle
                 Mariadb
                 PyMysql
                 Sqlite
                 etc
             Relational DBMS
             
                 Student               Teacher
              ID   Name  Course
              1    Simran  Python
              2    Ramesh  DS
              3    Suraj   Null
        
        NoSQL
            Non Structural Query Language 
                No structure
            Non Relational DBMS
            
            eg. MongoDB
            
                {
                    "ID" : 1,
                    "Name": "Simran"
                }
                
                {
                    "Name" : "Suraj",
                    "Course" : "Python",
                    "Roll No" : 101
                }
        
        
     
        Keys in database(SQL)
        Types of Languages of SQL
            DDL, DML, DCL, TCL

### SQL

    Keys in Database
    
    
                  Student               
              ID   Name  Course
              1    Simran  Python
              2    Ramesh  DS
              3    Suraj   Null
    
        1. Primary
            That column will never have duplicates
            No null value 
            Only one primary key
            
        2. Unique
            That column will never have duplicates
            Null value
            
        3. Foreign
        4. Alternate 
            The columns which are not eligible for primary key 
            
        5. Candidate
            The columns which are eligible to become primary keys
            
        6. Composite
            Creating PK with 2 or more columns
                (ID, NAME)
            
        7. Super
            Combine all columns and create a primary key

    Database --> Table --> Data

### Types of Languages 


    1. DDL
        Data Definition Language 
            1. create
                Used to create table or schema
                    SCHEMA --> Over structure of your table 
            2. drop
                Used to drop table and data 
            3. truncate
                Used to delete whole data but not schema
            4. alter
                Change table schema 
            5. rename
                Change table name
            6. comment
                
    2. DML
        Data Manipulation Language 
            1. insert
                To insert data
            2. Delete
                To delete particular row 
            3. Update 
                To change data 
            4. Select
                To select data
    3. DCL
        Data Control Language 
            1. Grant
                Give permission
            2. Revoke
                Take back permission
    4. TCL
        Transactional Control Language 
            1. Commit
                Saves data permanently
            2. Rollback
                It is used to get back the state to a particular point known as 
                savepoint
            3. SavePoint
                Point which will be used to recover data
            4. Set Transaction
                specify characteristics for the transaction

#### MySQL 

    MySQL server/application
    Xampp --> MySQL service
    
    
    to login into mysql
    
    mysql -u root -p (enter)
    password : (enter)
    
        -u --> user
        -p --> password
        
     # Data Types of SQL 
        
    create table student(sid int, name varchar(100), course varchar(100));
    
    select * from table_name;
    
        * --> all columns